*
body{
background-image: url('https://media.npr.org/assets/img/2020/06/10/gettyimages-200199027-001_wide-548eb42c5ebbd6b8f5ca6161b70e911cb108174e.jpg?s=1400&c=100&f=jpeg');
background-repeat: no-repeat;
background-size: cover;
background-attachment: scroll;
}